<div class="flex min-h-screen flex-col bg-l-purp font-mono text-d-purp">
  <main class="flex-grow p-8">
    <todos />
  </main>
  <footer class="space-y-2 bg-d-purp px-8 py-12 text-xs text-l-purp">
    <p>Made by Arlen.</p>
    <p>
      Just givin'
      <a href="https://angular.io" target="_blank" class="underline">Angular</a>
      a try.
    </p>
    <p>
      Tryin' to get that job at
      <a href="https://splice.com" target="_blank" class="underline">Splice</a>.
    </p>
  </footer>
</div>
